@using ProjectLibrary.Database
@using TeamplateHotel.Handler
@using TeamplateHotel.Controllers
@using TeamplateHotel.Models
@using PagedList.Mvc
@using PagedList
@model PagedList.IPagedList<Article>
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    Menu menu = ViewBag.Menu ?? new Menu();
    //int i = 1;
    string lan = Request.Cookies["LanguageID"].Value;
    var detailHotel = CommentController.DetailHotel(lan);
    List<ShowObject> acticelhot = CommentController.HotArticles(lan, menu.ID);
    List<TabArticle> tabArticles = CommentController.GetTapArticles();
}

    <style>
        .content_main_item {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2; /*số dòng muốn hiện */
            font-size: 16px; /*cỡ chữ, đơn vị px  */
            line-height: 1.5em; /* khoảng cách giữa các dòng, đơn vị em*/
            max-height: 54px;
        }
    </style>
<!-- main -->
<section class="wraper_slider_blog">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Content/images/blog/slide/s1.jpg" alt="">
                <div class="carousel-caption d-none d-md-block">
                    <div class="exo"><a href="" title="">EXO News</a></div>
                    <h2><a href="" title="">COVID-19 Virus Updates and Travel</a></h2>
                    <p>We've put together the latest information on Covid-19 virus and its impact on travel so you can make the...</p>
                    <div class="read"><a href="" title="">Read more</a></div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Content/images/blog/slide/s2.jpg" alt="">
                <div class="carousel-caption d-none d-md-block">
                    <div class="exo"><a href="" title="">EXO News</a></div>
                    <h2><a href="" title="">COVID-19 Virus Updates and Travel</a></h2>
                    <p>We've put together the latest information on Covid-19 virus and its impact on travel so you can make the...</p>
                    <div class="read"><a href="" title="">Read more</a></div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Content/images/blog/slide/s3.jpg" alt="">
                <div class="carousel-caption d-none d-md-block">
                    <div class="exo"><a href="" title="">EXO News</a></div>
                    <h2><a href="" title="">COVID-19 Virus Updates and Travel</a></h2>
                    <p>We've put together the latest information on Covid-19 virus and its impact on travel so you can make the...</p>
                    <div class="read"><a href="" title="">Read more</a></div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Content/images/blog/slide/s4.jpg" alt="">
                <div class="carousel-caption d-none d-md-block">
                    <div class="exo"><a href="" title="">EXO News</a></div>
                    <h2><a href="" title="">COVID-19 Virus Updates and Travel</a></h2>
                    <p>We've put together the latest information on Covid-19 virus and its impact on travel so you can make the...</p>
                    <div class="read"><a href="" title="">Read more</a></div>
                </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
            <span class="sr-only"><span class="icon_prev"></span></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
            <span class="sr-only"><span class="icon_next"></span></span>
        </a>
    </div>
</section>
<!-- section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                @foreach (var item in Model.Take(1))
                {
                <div class="wrap_blog">
                    <div class="blog_thumb">
                        <a href="/@item.MenuAlias/@item.ID/@item.Alias" title="">
                            <img src="@item.Image" alt="">
                        </a>
                        <div class="title_blog">
                            <a href="" class="post_title" title="">EXO News</a>
                            <p><a href="blog-detail.html" title="">@item.Title</a></p>
                            <span>@DateTime.Now.ToLongDateString()</span>
                        </div>
                    </div>
                    @Html.Raw(item.Description)
                    <p class="coutry"><a href="" class="">Continue reading</a></p>
                </div>
                }
                    
                <div class="post-info">
                    <div class="content_info">
                        <a href="blog-detail.html" title="">Leave a comment</a>
                    </div>
                    <div class="share_info">
                        <div class="wrap_share">
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-google-plus-g"></i></a>
                            <a href=""><i class="fab fa-pinterest-p"></i></a>
                        </div>
                    </div>
                </div>
                <div class="block_content">
                    <div class="row">
                        @foreach (var item in Model.Skip(1))
                        {
                            <div class="col-md-6">
                                <div class="wrap_item">
                                    <div class="img">
                                        <a href="/@item.MenuAlias/@item.ID/@item.Alias" title="">
                                            <img src="@item.Image" style="height: 243.359px">
                                        </a>
                                    </div>
                                    <div class="content_blog">
                                        <div class="tag_categori">
                                            <a href="">EXO NEWS,</a>
                                            <a href="blog-detail.html" title="">, EXO PEOPLE</a>
                                            <a href="blog-detail.html" title="">, RESPONSIBLE & SUSTAINABLE</a>
                                        </div>
                                        <h2 class="title_item_blog"><a href="" title>@item.Title</a></h2>
                                        <p class="post_info_day">@DateTime.Now.ToLongDateString()</p>
                                        <div class="content_main_item">
                                            @Html.Raw(item.Description)
                                        </div>
                                        <p class="coutry"><a href="/@item.MenuAlias/@item.ID/@item.Alias" class="">Continue reading</a></p>
                                    </div>
                                    <div class="post-info">
                                        <div class="content_info">
                                            <a href="blog-detail.html" title="">Leave a comment</a>
                                        </div>
                                        <div class="share_info">
                                            <div class="wrap_share">
                                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                                <a href=""><i class="fab fa-twitter"></i></a>
                                                <a href=""><i class="fab fa-google-plus-g"></i></a>
                                                <a href=""><i class="fab fa-pinterest-p"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="col-md-6 text-right" id="pagination">
                            <nav>
                                <ul class="pagination">
                                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                                </ul>
                            </nav>
                        </div>

                        @*<div class="col-md-12">
                            <p class="order-post"><a href="" title="" class="">Older posts</a></p>
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="wrapper_right">
                    <div class="get_social">
                        <h2>LET’S GET SOCIAL</h2>
                        <div class="wrap_share">
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-google-plus-g"></i></a>
                            <a href=""><i class="fab fa-pinterest-p"></i></a>
                        </div>
                    </div>
                    <div class="banner_right">
                        <h3 class="text-center">
                            GET IN TOUCH <br>
                            & <br>
                            LET US DESIGN
                        </h3>
                        <p class="text_">
                            The Journey <br>
                            of a <br>
                            Lifetime!
                        </p>
                        <a href="" title="" class="equire">ENQUIRE NOW</a>
                    </div>
                    <div class="list_post">
                        <h2>Recent Posts</h2>
                        <div class="wrap_item_list">
                            @foreach(var item in acticelhot)
                            {
                            <div class="item_post">
                                <a href="/@item.MenuAlias/@item.ID/@item.Alias" title="">
                                    <img src="@item.Image">
                                    <div class="content_post">
                                        <h3>@item.Title</h3>
                                        <p class="post_day">@DateTime.Now.ToLongDateString()</p>
                                    </div>
                                </a>
                            </div>
                            }
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end main -->
